<ul class='groovy-list-view-list'
    ng-if='groovyListView.{{name}}'>
    <li class='groovy-list-view-item'
        ng-repeat='item in groovyListView.{{name}}.items'>
        <a ng-href='{{{noparse 'item.href'}}}'>
            <img ng-if='item.icon' ng-src='{{{noparse 'item.icon'}}}' />
            <span>
                {{{noparse 'item.label'}}}
            </span>
        </a>
    </li>
</ul>
